@media (max-width: 799px) and (min-width: 428px) {
  .back-text-class-contacts {
    font-size: 80px;
  }

  .section-contacts__map {
    width: 100%;
  }

  .connection-block {
    gap: 52px;
  }

  .section-contacts__children-class {
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
  }

  .connection-block {
    flex-direction: column;
  }
}
