.catalog-side-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 46px;
  flex-direction: column;
}

.catalog-side-menu-link,
.catalog-side-menu-active {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.2s linear;
}

.catalog-side-menu-active {
  position: relative;
  text-decoration: underline;
  margin-left: 63px;
  text-shadow:
    -2px 0 3px var(--main-yellow),
    1px 0 0 #982fbc;
}

.catalog-side-menu-active:after {
  content: "";
  display: block;
  background-image: url("../../img/sprite.png");
  background-repeat: no-repeat;
  width: 58px;
  height: 12px;
  background-position: -1px -16px;
  position: absolute;
  left: -63px;
  top: 50%;
  transform: translateY(-50%);
}

.catalog-side-menu-link:hover {
  color: var(--main-yellow);
}
