@media (max-width: 799px) and (min-width: 428px) {
  .shop-cart-product {
    /*    width: 400px;*/
    height: 195px;
  }

  .shop-cart-product__title {
    text-decoration: none;
    transition: color 0.2s linear;
    color: #fff;
    margin-bottom: 28px;
    font-size: 20px;
    width: 200px;

    /*Эти строки нужны для того, чтобы название товара не превышало двух строк,
    а в случае превышения текст обрывался и в конце ставилось многоточие*/
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .shop-cart-product__features {
    font-size: 15px;
    flex-direction: column;
    gap: 15px;
  }

  .shop-cart-product__about {
    padding: 15px 5px 8px 0;
  }
}
