@media (max-width: 799px) and (min-width: 428px) {
  .catalog-block-header {
    font-size: 45px;
    text-align: left;
  }

  .catalog-block__aside {
    display: none;
  }

  .catalog__children-class {
    font-size: 70px;
    color: #fff;
  }
}
