.catalog-block-header {
  font-size: 130px;
  text-align: left;
}

.page-header {
  margin-top: 76px;
}

.catalog-block {
  display: flex;
  gap: 107px;
}

.catalog-block__aside {
  width: var(--catalog-aside-width);
}
