.main-carousel {
  width: var(--main-carousel-width);
  height: var(--main-carousel-height);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.main-carousel__slides-container,
.main-carousel__swicth {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-carousel__slides-container {
  position: relative;
  height: inherit;
}

.main-carousel__slide {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-carousel__swicth {
  display: flex;
  gap: 29px;
  width: 80%;
  align-self: center;
}

.main-carousel__swicth-button {
  flex-grow: 1;
}

.main-carousel__radio {
  display: none;
}

.main-carousel__label {
  display: block;
  height: 20px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  background-color: silver;
  transition: background 0.2s linear;
}

.main-carousel__label:hover {
  background-color: #fff;
}

.main-carousel__radio:checked + .main-carousel__label {
  background-color: var(--main-yellow);
}

.slide1 {
  background-image: url("../../img/main-carousel/main_carousel_preview.png");
}

.slide2 {
  background-image: url("../../img/main-carousel/2.jpg");
}

.slide3 {
  background-image: url("../../img/main-carousel/3.jpg");
}

.slide4 {
  background-image: url("../../img/main-carousel/4.jpg");
}

.slide5 {
  background-image: url("../../img/main-carousel/5.jpg");
}
