.back-text-class {
  font-size: 140px;
}

.back-text-header-class {
  margin-bottom: 64px;
}

.children-class {
  font-size: 100px;
  color: #fff;
  font-family: "uindbase";
  text-transform: uppercase;
  margin: 0;
}

.children-container-left {
  left: 0;
}

.children-container-right {
  right: 0;
}

.main-carousel {
  width: 1248px;
  margin: 0 auto;
}

.current-products-list-mb62 {
  margin-bottom: 62px;
}
