.section,
.section-contacts {
  padding-bottom: 76px;
}

.back-text-class {
  font-size: 140px;
}

.back-text-class-contacts {
  text-align-last: left;
  font-size: 180px;
}

.back-text-header-class {
  margin-bottom: 64px;
}

.children-class {
  font-size: 100px;
  color: #fff;
  font-family: "uindbase";
  text-transform: uppercase;
  margin: 0;
}

.children-container-left {
  left: 0;
}

.children-container-right {
  right: 0;
}

.main-carousel {
  width: 1248px;
  margin: 0 auto;
}

.current-products-list-mb62 {
  margin-bottom: 62px;
}

.link-show-more-connainer {
  text-align: right;
  width: var(--central-block-width);
  margin: 0 auto;
}

.link-show-more {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  transition: color 0.2s linear;
}

.link-show-more:hover {
  color: var(--main-yellow);
}

.connection-block {
  display: flex;
  gap: 152px;
  align-items: center;
}

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;
}

.contacts-link {
  text-transform: uppercase;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s linear;
}

.contacts-link:hover {
  color: var(--main-yellow);
}
