@media (max-width: 1599px) and (min-width: 800px) {
  .header__logo {
    display: none;
  }

  .header__socials {
    display: none;
  }

  .header__main-menu-conainer {
    margin: 0 auto;
  }

  .header__main-menu {
    gap: 30px;
  }

  .header__gender-menu {
    margin: 30px auto 0;
  }
}
