.header {
  width: var(--main-width);
  margin: 0 auto;
  padding-top: 43px;
  display: flex;
  flex-direction: column;
}

.header__burger {
  display: none;
}

.header__logo {
  margin-right: 59px;
}

.header__main-menu-conainer {
  margin-right: auto;
}

.header__main-menu {
  list-style: none;
  display: flex;
  gap: 52px;
  margin: 0;
  padding: 0;
}

.header__main-menu-link,
.header__gender-menu-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.5s linear;
}

.header__main-menu-link {
  font-size: 20px;
}

.header__main-menu-link:hover,
.header__gender-menu-link:hover {
  color: #d1c12b;
}

.header__top-part {
  display: flex;
  align-items: center;
}

.header__gender-menu {
  margin: 0 0 0 130px;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 73px;
  font-size: 15px;
}
