@media (max-width: 799px) and (min-width: 428px) {
  .header__top-part {
    justify-content: space-between;
    padding: 0 25px;
  }

  .header__logo {
    display: none;
  }

  .header__main-menu-conainer,
  .header__gender-menu {
    display: none;
  }

  .header__burger {
    display: flex;
  }

  .header__main-menu {
    gap: 30px;
  }

  .header__gender-menu {
    margin: 30px auto 0;
  }
}
