@media (max-width: 1151px) and (min-width: 800px) {
  .footer {
    padding: 39px 0 80px;
    display: flex;
    font-family: "arial";
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .footer__policy {
    text-align: center;
  }

  .footer__logo-copyright {
    order: 10;
  }
}
