.footer {
  width: var(--main-width);
  margin: 0 auto;
  padding: 39px 0 80px;
  display: flex;
  flex-wrap: wrap;
  font-family: "arial";
  align-items: end;
  justify-content: space-between;
}

.footer__policy {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__policy-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s linear;
}

.footer__policy-link:hover {
  color: #d1c12b;
}

.footer__copyright {
  width: 100%;
  text-align: center;
}

.footer__logo {
  margin-right: auto;
  margin-left: 292px;
  margin: 0 auto 0 292px;
}
