@media (max-width: 1151px) and (min-width: 800px) {
  .shop-cart-back-text {
    font-size: 80px;
  }

  .shop-cart {
    flex-direction: column;
    gap: 42px;
  }

  .shop-cart__form-container {
    padding-left: 0;
  }

  .shop-cart__form-container:before {
    content: none;
  }
}
