.shop-cart {
  padding-bottom: 95px;
  display: flex;
  gap: 164px;
}

.shop-cart__header {
  margin-top: 65px;
}

.shop-cart-back-text {
  font-size: 130px;
  text-align: left;
}

.shop-cart_list {
  margin-bottom: 18px;
}

.shop-cart__bill {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 20px;
  text-transform: uppercase;
  text-align: right;
}

.shop-cart__bill-text {
  font-size: 15px;
  color: #3b4654;
  width: 457px;
}

.shop-cart__bill-item {
  display: flex;
  gap: 95px;
  color: #fff;
}

.shop-cart__bill-items-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.shop-cart__bill-item-dd,
.shop-cart__bill-item-dt {
  width: 110px;
}
.shop-cart__form-header {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.shop-cart__form-container {
  position: relative;
  padding-left: 11px;
}

.shop-cart__form-container:before {
  position: absolute;
  content: "";
  width: 3px;
  background-color: #1f252d;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
}
