.shop-cart {
  padding-bottom: 95px;
  display: flex;
  gap: 164px;
}

.shop-cart__header {
  margin-top: 65px;
}

.shop-cart-back-text {
  font-size: 130px;
  text-align: left;
}

.shop-cart_list {
  margin-bottom: 18px;
}

.shop-cart__bill {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.shop-cart__bill-text {
  text-transform: uppercase;
  font-size: 15px;
  color: #3b4654;
  width: 457px;
  text-align: right;
}
