:root {
  --main-width: 1568px;
  --gray-back-text: #1f252d;
  --main-yellow: #d1c12b;
  --central-block-width: 1248px;
  --product-position-width: 272px;
  --product-position-height: 461px;
  --product-position-title-height: 40px;
  --catalog-aside-width: 228px;
  --product-positions-gap: 29px;
  --shop-cart-product-width: 797px;
  --shop-cart-product-height: 150px;
  --shop-cart-title-width: 578px;
  --styled-checkbox-width: 194px;
  --styled-radio-width: var(--styled-checkbox-width);
  --about-us-gallery-height: 360px;
  --about-us-gallery-gap: 30px;
  --current-collection-left-col-width: 333px;
  --current-collection-photo2-width: 553px;
  --main-carousel-width: 1248px;
  --main-carousel-height: 587px;
  --main-carousel-slide-info-width: 300px;
}

@media (max-width: 1919px) and (min-width: 1600px) {
  :root {
    --main-width: 1254px;
  }
}

@media (max-width: 1599px) and (min-width: 800px) {
  :root {
    --main-width: 672px;
    --central-block-width: 594px;
    --main-carousel-width: 100%;
    --main-carousel-height: 495px;
  }
}

@media (max-width: 799px) and (min-width: 428px) {
  :root {
    --main-width: 100%;
    --product-position-width: 180px;
    --product-position-height: 332px;
    --product-positions-gap: 10px;
    --central-block-width: 428px;
    --main-carousel-width: 100%;
  }
}
