:root {
  --main-width: 1568px;
  --gray-back-text: #1f252d;
  --main-yellow: #d1c12b;
  --central-block-width: 1248px;
  --product-position-width: 272px;
  --product-position-title-height: 40px;
  --product-position-cart-panel-width: 272px;
  --catalog-aside-width: 228px;
  --product-positions-gap: 29px;
  --catalog-list-width: 874px;
}
